html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-image: url("../images/header-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 100vh;
  position: relative;
  margin-bottom: 50px;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.main-menu {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9999;
}

.menu-item {
  padding: 30px 10px;
}

.logo-text {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}

.nav-menu {
  display: flex;
}

.menu-item-link {
  padding: 30px 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.5s;
}

.menu-item-link:hover {
  border-bottom: #18cfab solid 1px;
  color: #18cfab;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-slogan {
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 22px;
}

.header-text {
  font-weight: normal;
  font-size: 34px;
  color: #d4d4d4;
  margin-bottom: 50px;
  text-transform: lowercase;
}

.header-link {
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 42px;
  background: #18cfab;
  border-radius: 5px;
  transition: 0.5s;
}

.header-link:hover {
  background: #00cbf6;
}

.about-slogan {
  font-weight: bold;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.about {
  margin-bottom: 50px;
}

.about-img {
  width: 150px;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #777777;
  padding-left: 15px;
  text-align: left;
}

.projects {
  margin-bottom: 50px;
}

.projects-slogan {
  font-weight: bold;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.project-image {
  height: 200px;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-item {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.project-text {
  font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #777777;
}

.covered-image {
  position: relative;
  overflow: hidden;
}

.cover {
  position: absolute;
  top: -205px;
  left: 0;
  background-color: #e9edef;
  height: 100%;
  transition: 0.5s;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  border-top: #18cfab solid 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.covered-image:hover .cover {
  opacity: 1;
  top: 0;
  pointer-events: all;
}

.icons {
  display: flex;
  gap: 10px;
}

.project-icon {
  font-size: 30px;
  color: #00cbf6;
  border: #18cfab solid 1px;
    padding: 10px;
    background: #ffffff;
    transition: .5s;
}

.project-icon:hover {
  background: #18cfab;
  color: #ffffff;
}

.thanks {
  margin-bottom: 50px;
}

.thanks-slogan {
  font-weight: bold;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.tab-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.tab-menu-item {
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  color: #717171;
  background: #f8fcfe;
  border: 1px solid #edefef;
  padding: 15px 20px 17px;
  cursor: pointer;
  transition: 0.5s;
}

.tab-menu-item.active {
  color: #ffffff;
  background: #18cfab;
  position: relative;
}

.tab-menu-item:hover {
  border: 1px solid #18cfab;
}

.tab-menu-item.active::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 13px solid #18cfab;
  border-right: 13px solid #18cfab;
  border-top: 13px solid #18cfab;
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  background-color: #18cfab;
  position: absolute;
  top: 100%;
  left: 40%;
}

.thanks-content {
  display: none;
  margin: 0 270px;
  transition: .5s;
  align-items: center;
}

.thanks-img {
  float: left;
  margin-right: 12px;
  width: 190px;
    height: 90px;
}

.thanks-description {
  font-weight: 300;
  font-size: 13.645px;
  line-height: 18px;
  color: #777777;
  padding-left: 15px;
  text-align: left;
}

.contacts {
  margin-bottom: 50px;
}

.contacts-slogan {
  font-weight: bold;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.contacts-text {
  text-align: center;
}

.footer {
  background-color: #22353f;
  text-align: center;
  padding: 48px 0;
}

.footer-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}

.responsive-nav {
  width: 100%;
  background: #22353f;
  padding: 10px 30px;
  box-sizing: border-box;
  position: fixed;
  display: none;
  width: auto;
}

.responsive-nav .logo-text {
  margin: 0;
  padding: 3px 0;
  float: left;
  color: #fff;
}

.responsive-nav h3 a {
  color: #fff;
  text-decoration: none;
}

#menu {
  margin: 0 0 0 100px;
  color: #fff;
  float: right;
  padding: 5px 10px;
  background: #f2184f;
  text-transform: uppercase;
  cursor: pointer;
  top: 15px;
    position: relative;
}

#mobile {
  height: 0;
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  overflow-y: hidden;
}

#mobile ul li {
  list-style: none;
  display: block;
  padding: 20px 30px;
  transition: 0.5s;
}

#mobile ul li a {
  color: #fff;
  text-decoration: none;
}

/* #mobile ul li:hover {
  background: #f2184f;
} */


/* responsive */

@media screen and (max-width: 412px){
  .main-menu {
    flex-direction: column;
    align-items: center;
    background: #22353f;
    display: none;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
  }
  .responsive-nav {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 9999;
    max-width: 100%;
  }
  .header {
    max-width: 100%;
  }
  .header-slogan {
    font-size: 25px;
  }
  .header-text {
    font-size: 24px;
  }
  .about {
    width: fit-content;
  }
  .about-wrapper {
    flex-direction: column;
    padding: 0 10px;
  }
  .projects {
    width: fit-content;
  }

  .project-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .project-item {
    width: 90%;
  }
  .thanks {
    width: fit-content;
  }

  .thanks-img {
    width: 85px;
    height: 45px;
  }

  .thanks-content {
    width: fit-content;
    margin: 0 auto;
  }
  .thanks-container {
    padding: 0 10px;
  }
  .tab-menu-item {
    padding: 10px 20px 10px;
    font-size: 10.9859px;
    line-height: 15px;
  }

  .contacts {
    width: fit-content;
    padding: 0 10px;
  }
}


